# Configurations for cameras
[[camera]]
name = "GST_TEST"
video_uri = "gst://videotestsrc ! video/x-raw,width=640,height=480"
width = 640
height = 480

[[camera]]
name = "Facetime"
video_uri = "gst://avfvideosrc ! capsfilter caps=video/x-raw,width=(int)640,height=(int)480,framerate=(fraction)30/1"
width = 640
height = 480

[[camera]]
name = "YOUR IP CAMERA"
video_uri = "rtsp://username:password@camera_url"
width = 640
height = 480

[[camera]]
name = "ptgray"
video_uri = "pgr://0"
width = 1600
height = 1200


[[camera]]
name = "gt1930"
video_uri = "vmb://0"
width = 1600
height = 1200
