# Configurations for cameras
[[camera]]
name = "GST_TEST"
video_uri = "gst://videotestsrc ! video/x-raw,width=640,height=480"
width = 640
height = 480

[[camera]]
name = "YOUR IP CAMERA"
video_uri = "rtsp://username:password@camera_url"
width = 640
height = 480
