# Configuraions for streamer

[decoder]
h264_decoder_gst_element = 'default'
# h264_decoder_gst_element = 'avdec_h264'   # Mac
# h264_decoder_gst_element = 'avdec_h264'   # Linux
# h264_decoder_gst_element = 'omxh264dec'   # Tegra

[encoder]
h264_encoder_gst_element = 'default'
# h264_encoder_gst_element = 'vtenc_h264'   # Mac
# h264_encoder_gst_element = 'omxh264enc'   # Tegra
# h264_encoder_gst_element = 'x264enc'      # Linux (software)
# h264_encoder_gst_element = 'vaapih264enc' # Linux (hardware)
