[mean_image]
BLUE  = 104.0
GREEN = 117.0
RED   = 123.0

[[model]]
name = "googlenet"
type = "caffe"
# https://raw.githubusercontent.com/opencv/opencv/master/samples/data/dnn/bvlc_googlenet.prototxt
desc_path = "../models/bvlc_googlenet.prototxt"
# http://dl.caffe.berkeleyvision.org/bvlc_googlenet.caffemodel
params_path = "../models/bvlc_googlenet.caffemodel"
input_width = 227
input_height = 227
input_scale = 1.0 # Optional
# https://raw.githubusercontent.com/opencv/opencv/master/samples/data/dnn/synset_words.txt
label_file = "../models/synset_words.txt" # Optional
default_output_layer = "prob"

[[model]]
name = "mobilenet"
type = "caffe"
# https://raw.githubusercontent.com/cdwat/MobileNet-Caffe/master/mobilenet_deploy.prototxt
# Add to bottom of 'mobilenet_deploy.prototxt' file:
#    layer { name: "prob" type: "Softmax" bottom: "fc7" top: "prob" }
desc_path = "../models/mobilenet_deploy.prototxt"
# https://raw.githubusercontent.com/cdwat/MobileNet-Caffe/master/mobilenet.caffemodel
params_path = "../models/mobilenet.caffemodel"
input_width = 224
input_height = 224
input_scale = 0.017
# https://raw.githubusercontent.com/opencv/opencv/master/samples/data/dnn/synset_words.txt
label_file = "../models/synset_words.txt"
default_output_layer = "prob"

# [[model]]
# Your other models
